{% extends "base.html" %}

{% block head_title %}About{% endblock head_title %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3 text-center'>
<h3>Our Vision</h3>
<p>We as middle east citizens believe in food, its taste, food is not just a human need, its love, its life and more!!</p>
<br>
<blockquote>
<p><i>"Food is symbolic of love when words are inadequate." </i>—A lan D. Wolfelt</p>
</blockquote>
<blockquote>
<p><i>"Cooking is like love: It should be entered into with abandon or not at all."</i> — Harriet van Horne</p>
</blockquote>


<br>
<h3>Our Mission</h3>
<p>Share our feelings with the world around, exposing the secret behind magical taste !</p>
</div>

{% endblock content %}

