{% load staticfiles %}
<html>
    <head>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="fb:app_id" content="1888277261418042" />
        <link rel='icon' href='{% static "images/assets/icon.png" %}' >
        <title>
            Flog| {% block head_title %}{% endblock head_title %}
        </title>
<!--<link href={% static "css/bootstrap.css" %} rel='stylesheet' type='text/css' />-->

<!-- Base Style -->
{% include "base_style.html" %}
<!-- End of base style -->
    {% block style %}{% endblock style %}

    {% block head_extra %}{% endblock head_extra %}

</head>

<body>
<!--
<div class='overlay'>
        <div class='overlay-content'>
        i<img class='img-responsive' src={% static "images/logo-2.png" %} />
        </div>
    </div>
-->

    	<!--header-top-starts-->
	<div class="header-top">
		<div class="container">
			<div class="head-main">
				<a href='{% url "posts:index" %}'><img id='himg' src={% static "images/assets/logo.png" %} alt="" /></a>
			</div>
		</div>
	</div>
	<!--header-top-end-->
	<!--start-header-->
	<div class="header">
		<div class="container">
			<div class="head">
                <div class="navigation">
                     <span class="menu"></span>
                        <ul class="navig">

                            <li style='vertical-align:middle'><p class='oblique'>Let's cook</p>{% include "searchbar.html" %}</li>
                            <li><a href='/'>Home</a></li>
                            <li><a href='{% url "posts:list"  %}?q= '>Explore</a></li>
                            <li><a href='{% url "posts:list" %}?q=tip'>Cooking tips</a></li>
                            
                            {% if not request.user.is_anonymous %}
                         <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{ request.user.username }}
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li class="dropdown-header">Account</li>
                              <li><a href="{{ request.user.profile.get_absolute_url }}">Profile</a></li>
                              <li class="divider"></li>
                              <li class="dropdown-header">Recipes</li>
                              <li><a href={% url "posts:create" %}>Create</a></li>
                              <li class="divider"></li>
                              <li class="dropdown-header"> >_< </li>
                              <li><a href={% url "accounts:logout" %}>logout</a></li>
                            </ul>
                          </div>
                            {% else %}
                                <li class='pull-right'><a href='{% url "accounts:login" %}'><small>login</small></a> | <a style='margin-left:0px;'href='{% url "accounts:signup" %}'><small>signup</small></a></li>
                            {% endif %}
                        </ul>
                </div>

                    <div class="clearfix"></div>
            </div>
        </div>
    </div>	
<br>
	<!-- Page content -->
<div class='container-fluid'>
{% block header_extra %} {% endblock header_extra %}
{% block content %}
{% endblock content %}
</div>
<!-- End of page content -->

<br />
<!-- page footer -->
{% include "footer.html" %}
<!-- End of page footer -->

<div id="fb-root"></div>

<!-- base scripts -->
{% include "base_scripts.html" %}
<!-- end of base scripts -->

{% block script %}
{% endblock script %} 
</body> 
