{% extends "base.html" %}

{% block header_extra %}
    {% include "searchbar.html" %}
{% endblock header_extra %}

{% block head_title %}Categories{% endblock head_title %}

{% block content %}
<div class='about'>
    <div class='container'>
        <div class='about-tre text-center'>
            {% if object_list %}
              {% include "post_list_render.html" with object_list=object_list include_user=True %}
            {% else %}
              <h3>No search result found!</h3>
            {% endif %}
                  </div>
    </div>
</div>
{% endblock content %}
